apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      type: db
  template:
    metadata:
      labels:
        name: redis
        type: db
    spec:
      containers:
        - name: redis
          image: redis:alpine
          ports:
            - containerPort: 6379
          envFrom:
            - configMapRef:
                name: redis-config
          resources:
            limits:
              memory: "128Mi"